<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="proId" name="proId" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">项目归属:</label>
								<div class="col-sm-8">
									<label class="radio-inline">
										<input type="radio" name="region" id="region1" value="XA" /> 西安
									</label>
									<label class="radio-inline">
										<input type="radio" name="region" id="region2" value="BJ" /> 北京
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目名称：</label>
								<div class="col-sm-8 dropdown custom1">
									<input id="pName" name="pName" list="select_code" placeholder="输入或者列表选择" value="" class="form-control select" style="width: 100%;"/>
									<datalist id="select_code" class="select_code" style="width: 100%;">
									</datalist>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">项目级别：</label>
								<div class="col-sm-8 dropdown custom1">
									<select class='form-control dropdown bootstrap-select' data-live-search="true"
											id='pLevel' name='pLevel'>
										<option value="2">非在研项目</option>
										<option value="1">在研项目</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">月份：</label>
								<div class="col-sm-8">
									<input id="effectMonth" name="effectMonth"
										   onClick="return Calendar('effectMonth');" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
									<button type="button" class="btn btn-primary" onclick="closeSelf();">关闭</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/project/template/add.js"></script>
	<script type="text/javascript" src="/js/appjs/manager/showdate.js"></script>
</body>
</html>
