<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/ball.css" rel="stylesheet">
<link href="/css/bootstrap-select.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" />
<script src="/js/jquery.min.js"></script>      
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<head th:include="include :: header">
    <style>
        /* 弹窗 (background) */
        .modal {
            display: none; /* 默认隐藏 */
            position: fixed; /* 固定定位 */
            z-index: 1; /* 设置在顶层 */
            left: 0;
            top: 0;
            width: 10%;
            height: 10%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

 /* 弹窗 (background) */
        .modal {
            display: none; /* 默认隐藏 */
            position: fixed; /* 固定定位 */
            z-index: 1; /* 设置在顶层 */
            left: 0;
            top: 0;
            width: 10%;
            height: 10%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        /* 弹窗内容 */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* 关闭按钮 */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .progress{
            background: #262626;
            border-radius: 20px;
            height: 20px;
            border-top: 1px solid #000;
            box-shadow: 0 5px 4px -6px #aaa;
            margin-top: 50px;
            overflow: visible;
        }
        .progress .progress-bar{
            border-radius: 20px;
            position: relative;
            animation: animate-positive 2s;
        }
        .progress .progress-bar:after{
            content: "\f111";
            font-family: fontawesome;
            font-size: 10px;
            color: rgba(0,0,0,0.4);
            position: absolute;
            top: -1px;
            right: 10px;
        }
        .progress .progress-value{
            display: block;
            font-size: 13px;
            color: #fff;
            border-radius: 4px;
            padding: 3px 8px;
            background:#191919;
            position: absolute;
            top: -40px;
            right: -27px;
        }
        .progress .progress-value:after{
            content: "";
            border-top: 5px solid #191919;
            border-left: 5px solid #191919;
            border-bottom: 5px solid transparent ;
            border-right: 5px solid transparent;
            position: absolute;
            bottom: -6px;
            left: 0;
        }
        @-webkit-keyframes animate-positive{
            0% { width: 0%; }
        }
        @keyframes animate-positive{
            0% { width: 0%; }
        }
        .bootstrap-select>.dropdown-toggle{

        }
        .btn-default{
            background-color:rgb(255, 255, 255);
        }
    </style>
</head>
<body class="gray-bg" background="/img/blackground.jpg">

<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"   data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content" style="margin-top:20%">
            <div class="modal-body"  style="margin-left:35%">
                当前节点不在线，请启动当前节点！！！
            </div>
            <div style="margin-left:45%;margin-bo:10%;margin-bottom: 5%;">
                <button type="button"
                        data-dismiss="modal">确定
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div style="float:right;position: absolute;margin-left: 5%; margin-top:1%;" id="instructionDiv">
    <img src="/img/InstructionBook.png " style="width:100px;" type="button"
         class="btn " data-toggle="modal" data-target="#myModal1">
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"   data-backdrop="false" data-keyboard="false" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div  class="modal-content" style="width:700px;height:500px;margin-top:20%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true" >×
                    </button>
                    <h1 class="modal-title" id="myModalLabel1" align="center">
                        WiFi干扰工具使用说明
                    </h1>
                </div>
                <div class="modal-body" style="width:650px;height:400px; margin: 0px auto;overflow-y: scroll;">
                    <h3>   参数说明：</h3>
                    <h3>    1.项目名称：测试设备的项目名称</h3>s
                    <h3>    2.项目阶段：本次测试的设备的研发阶段</h3>
                    <h3>    3.项目方案：本次测试设备的方案</h3>
                    <h3>    4.测试工程师：本次测试的任务发起人</h3>
                    <h3>    5.测试设备:本次测试的设备名称或者sn</h3>
                    <h3>    6.测试时间：本次测试的日期</h3>
                    <h3>    7.初始电平值：本次测试的初始电平值</h3>
                    <h3>    8.UE power：Max power</h3>
                    <h3>    9.线损：测试项目的线损</h3>
                    <h3>    10.测试场景：下拉选择本次需要测试的场景</h3>
                    <h3>    11.测试网络：本次测试的网络选择，2.4G或者5G或者2.4G，5G</h3>
                    <h3>    12.测试的频段：本次测试的频段</h3>
                    <h3>>    13.测试信道：本次测试的信道</h3>
                    <h3>    14.设备选择：本次执行机的选择</h3>
                    <h3>    功能简介：</h3>
                    <h3>     开始：在所有参数填写选择完成后点击开始，完成任务下发。</h3>
                    <h3>    查看报告：点击跳转至报告页面</h3>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h5 align="center">工具说明书</h5>
    </div>
</div>
<div class="wrapper wrapper-content " style="height: 100%; overflow: auto;width:100%" >
    <div  style="margin-left: 250px;margin-top:50px;">
        <div>
            <img src="/img/wifi.png" width="75" height="71.25.5" style="float:left">
            <div style="float: left;margin-left: 80px;">
                <font size="10">WIFI干扰自动化</font>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="ibox" style="margin-left:100px;margin-top:20px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pulpl-left" >
                        <h3 style="margin-left:50px;margin-top:8px; float: left;" >项 目 名 称 :</h3>
                        <input id="projectName" type="text" value="请输入项目名称" style="width: 150px;height:25px;float: left;margin-left:20px;"/>
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >项 目 阶 段 :</h3>
                        <input id="projectStage" type="text" value="请输入项目阶段" style="width: 150px;height:25px;float: left;margin-left:20px;"/>
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >项 目 方 案 :</h3>
                        <input id="projectScheme" type="text" value="请输入项目方案" style="width: 150px;height:25px;float: left;margin-left:20px;"/>

                    </div>
                </div>

            </div>
        </div>
        <div class="ibox" style="margin-left:100px;margin-top:40px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="dropdown columns pull-left" style="margin-left:150px;margin-top: 15px">
                        <span id="warning1" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:300px;margin-top: 15px">
                        <span id="warning2" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:310px;margin-top: 15px">
                        <span id="warning3" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" style="margin-left:100px;margin-top:70px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pulpl-left" >
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >测试工程师:</h3>
                        <input id="engineer" type="text" value="请输入工程师姓名" style="width: 150px;height:25px;float: left;margin-left:20px;"/>
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >测 试 设 备 :</h3>
                        <input id="equipment" type="text" value="请输入测试设备 " style="width: 150px;height:25px;float: left;margin-left:20px;"/>
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >测 试 时 间 :</h3>
                        <div style="margin-left:20px;float:left">
                            <input type="text" id="testTime" value="选择时间" onClick="return Calendar('testTime');" class="text_time"
                                   style="width:150px;height:25px;" onfocus="this.blur()">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" style="margin-left:100px;margin-top:90px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="dropdown columns pull-left" style="margin-left:150px;margin-top: 15px">
                        <span id="warning4" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:300px;margin-top: 15px">
                        <span id="warning5" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:310px;margin-top: 15px">
                        <span id="warning6" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" style="margin-left:100px;margin-top:120px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pulpl-left" >
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >初始电平值:</h3>
                        <input id="levelValue" type="text" value="请输入初始电平值" oninput="this.value=this.value.replace(/[^0-9]/g,'');" onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="width: 150px;height:25px;float: left;margin-left:20px;"/>

                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >UE  power :</h3>
                        <input id="power" type="text" value="Max Power" oninput="this.value=this.value.replace(/[^0-9]/g,'');" onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="width: 150px;height:25px;float: left;margin-left:20px;"/>

                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >线 </h3>
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >损 :</h3>
                        <input id="lineLoss" type="text" value="请输入线损" oninput="this.value=this.value.replace(/[^0-9]/g,'');" onFocus="if(value==defaultValue){value='';this.style.color='#000'}"
                               onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style="width: 150px;height:25px;float: left;margin-left:20px;"/>

                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" style="margin-left:100px;margin-top:140px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="dropdown columns pull-left" style="margin-left:150px;margin-top: 15px">
                        <span id="warning7" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:300px;margin-top: 15px">
                        <span id="warning8" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:310px;margin-top: 15px">
                        <span id="warning9" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" style="margin-left:100px;margin-top:170px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left" >
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >测 试 场 景 :</h3>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:20px">
                        <div class="dropdown bootstrap-select show-tick bs3 dropup" style="width:150px;">
                            <select  id='scenario' name='scenario' class="dropdown bootstrap-select selectpicker" data-live-search="false" multiple>
                                        <option value="请选择测试场景">请选择测试场景</option>
                                        <option value="灭屏">灭屏</option>
                                        <option value="亮屏">亮屏</option>
                                        <option value="WIFI_动态壁纸冲突">WIFI_动态壁纸冲突</option>
                                        <option value="WIFI_前置Camera冲突-主摄">WIFI_前置Camera冲突-主摄</option>
                                        <option value="WIFI_后置Camera冲突-主摄">WIFI_后置Camera冲突-主摄</option>
                                        <option value="WIFI_游戏场景冲突">WIFI_游戏场景冲突</option>
                                        <option value="WIFI_触屏冲突">WIFI_触屏冲突</option>
                                        <option value="WIFI_后置Camera冲突-广角">WIFI_后置Camera冲突-广角</option>
                                        <option value="WIFI_后置Camera冲突-景深">WIFI_后置Camera冲突-景深</option>
                                        <option value="WIFI_后置Camera冲突-微距">WIFI_后置Camera冲突-微距</option>
                                        <option value="WIFI_后置Camera冲突-长焦">WIFI_后置Camera冲突-长焦</option>
                                        <option value="WIFI_马达冲突">WIFI_马达冲突</option>
                                        <option value="WIFI_前置Camera冲突-广角">WIFI_前置Camera冲突-广角</option>
                                        <option value="WIFI_音乐播放冲突">WIFI_音乐播放冲突</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body">
                <div class="fixed-table-toolbar" >
                    <div class="columns pull-left"style="margin-left:50px" >
                        <h3 style="float: left;" >测 试 网 络 :</h3>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:20px">
                        <div class="dropdown">
                            <select  id='internet' name='internet' class='dropdown bootstrap-select' data-live-search="true"
                                     style="width:150px;height:30px;" onclick="getBand();getchannel();">
                                <option value="请选择测试网络">请选择测试网络</option>
                                <option value="2.4G">2.4G</option>
                                <option value="5G">5G</option>
                                <option value="2.4G,5G">2.4G,5G</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left" >
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >测 试 频 段 :</h3>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:20px">
                        <div class="dropdown bootstrap-select show-tick bs3 dropup" style="width:150px;">
                            <select  id='band' name='band' class="dropdown bootstrap-select selectpicker" data-live-search="false" multiple
                                     style="width:200px;height:30px;margin-left:10px;">
                                <option value="请选择测试频段">请选择测试频段</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ibox" style="margin-left:100px;margin-top:190px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="dropdown columns pull-left" style="margin-left:150px;margin-top: 15px">
                        <span id="warning10" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:300px;margin-top: 15px">
                        <span id="warning11" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:310px;margin-top: 15px">
                        <span id="warning12" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox" style="margin-left:100px;margin-top:220px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left" >
                        <h3 style="margin-left:50px;margin-top:8px;float: left;" >测 试 信 道 :</h3>
                    </div>
                    <div class="dropdown columns pull-left" style="margin-left:20px;">
                        <div class="dropdown bootstrap-select show-tick bs3 dropup" style="width:150px;">
                            <select  id='channel' name='channel' class="dropdown bootstrap-select selectpicker" data-live-search="false" multiple
                                     style="width:200px;height:30px;margin-left:10px;">
                                <option value="请选择测试频段">请选择测试信道</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left" style="margin-left: 50px;">
                        <h3 style="margin-top:8px;" >设 备 选 择 :</h3>
                    </div>
                    <div class="dropdown columns pull-left">
                        <select class='dropdown bootstrap-select' data-live-search="true" id='selectEquip' name='equip'
                                style="width:150px;height:30px;margin-left:20px;">
                        </select>
                    </div>
                </div>
            </div>
            <div class="columns pull-left" style="width:100px;margin-left:50px;margin-top:10px;">
                <div class="ibox-body">
                    <div class="fixed-table-toolbar">
                        <button type="button" style="margin-right:10px;width:100px;" class="btn  btn-primary" onclick="checkWifiIsNull()" id="start">
                            <i aria-hidden="true"></i>开始
                        </button>
                        <div class="modal fade in" id="myModal" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: none; padding-left: 6px;">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content" style="width:500px;height:300px;margin-top:20%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel" align="center">
                                            请核对以下条件是否完成确认！
                                        </h4>
                                    </div>
                                    <div class="modal-body" style="width: 550px; margin: 0px auto;">
                                        <div>
                                            <label><input name="ball" id="ball1" type="checkbox" value="0" align="center" onclick="check();">确认执行机是否在线</label>
                                        </div>
                                        <div>
                                            <label><input name="ball" id="ball2" type="checkbox" value="1" align="center" onclick="check();">确认执行机是否选择正确</label>
                                        </div>
                                        <div>
                                            <label><input name="ball" id="ball3" type="checkbox" value="2" align="center" onclick="check();">确认所选择执行机上的设备是否连接正常</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div style="margin-top:50px;text-align:center">
                                            <button type="button" style="width:100px;margin-top:10px;" id="confirm" data-dismiss="modal" class="btn  btn-primary" onclick="startTask();" disabled="">确定
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns pull-left">
                <div class="fixed-table-toolbar">
                    <button type="button" style="width:100px;margin-left:50px;margin-top:10px;" id="selectReport"
                            class="btn  btn-primary" onclick="window.location.href ='/manager/report'">
                        <i aria-hidden="true"></i>查看报告
                    </button>
                </div>
            </div>
        </div>
        <div class="ibox" style="margin-left:100px;margin-top:240px;">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="dropdown columns pull-left" style="margin-left:150px;margin-top: 15px">
                        <span id="warning13" style="color:red;display:none;float: left;margin-left:20px;"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="ibox" style="margin-left:100px;margin-top:310px;">
            <div class="columns pull-left" >
                <h3 style="margin-left:50px;margin-top:8px;float: left;" >进</h3>
                <h3 style="margin-left:50px;margin-top:8px;float: left;" >度：</h3>
            </div>
            <div class="columns pull-left">
                <div class="ibox" style="margin-left:10px;width:800px;">
                    <div class="progress" id="progress" style="display: none;">
                        <div id="progress_bar" class="progress-bar progress-bar-striped active" role="progressbar"
                             style="width: 0%; background: linear-gradient(to right, #00b360 35%,#ffb036 68%);"
                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-value" id="progress_value">
                                0%
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/appjs/manager/tools/wifi.js"></script><script></script>
<script type="text/javascript" src="/js/appjs/manager/showdate.js"></script>

</body>
</html>